<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h2 id='site_img'></h2>
    <h5>
      Welcome to my website!  This is a simple website I've built for myself to host my resume and portfolio.  You can find both of those items under the Portfolio section of the page.  On my blog I will post about things I am currently working on or interested in, or sometimes I may just be shooting the breeze.  And if for any reason you need to contact me, for questions, suggestions, comments, or anything else just head over to the Contact page!
      <br><br>
      The webpage itself is pretty simple.  Some very basic HTML and CSS combined with some simple Photoshop work.  There is a tiny bit of jQuery to make the buttons work and the pages load dynamically.  I also have chosen to use PHP to do all interaction with the database for the Blog section as well as the Portfolio section.
    </h5>
    <h2 id='me_img'></h2>
    <h5>
    My name is Bryan Taylor.  I graduated from Clemson University with a Bachelor's in Computer Science in May of 2011.  With this degree, I want to pursue a career in web design and development.  I would currently classify myself as a back-end developer but I am in the process of building my design skills as well.
    <br><br>
    I have a passion for development in general, whether it's web-based or not.  I have done quite a bit of work in C/C++ during school, and would have to say that it is my choice in language for solutions that are not web-based.  I'm also quite fond of Python for quick scripts and other things.  As far as web-based solutions, I have experience in HTML and CSS, JavaScript (jQuery mostly), and PHP. In the near future I plan to begin learning HTML5 and CSS3 and I'm also pretty interested in giving Ruby On Rails a whirl.
    </h5>
  </body>
</html>

