<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h5 id='resume_line'>
      Here you can find my resume, in <a href='/resumes/resume.pdf'>PDF format</a> and <a href='/resumes/resume.docx'>Word format</a>
    </h5>
    <!-- First Row -->
    <div class='thumbnail' id='moe'>
      <div id='moe_gallery' class='pic_list'>
        <ul>
          <li><a href='img/portfolio/moe1.jpg' class='first' title="I did some back-end work for this company's website.  The design was done by <a href='http://www.aaronthacker.com' target='_blank'>Aaron Thacker."></a></li>
          <li><a href='img/portfolio/moe2.jpg' title='Since this is a sales page, not everyone needs to have access to this content.  So the client needed these pages password protected.'></a></li>
          <li><a href='img/portfolio/moe3.jpg' title='Only those with the passwords will be able to see the sales information.'></a></li>
        </ul>
      </div>
    </div>
    <div class='link'>
      <a href='http://www.mightyoakentertainment.com'>www.mightyoakentertainment.com</a>
    </div>
    <div class='thumbnail' id='daydreamer'>
      <div id='dd_gallery' class='pic_list'>
        <ul>
          <li><a href='img/portfolio/daydreamer1.jpg' class='first' title='DayDreamer is a startup I am currently involved with.  For the most part, this whole site was written by yours truly, except the occasional plugin (Recaptcha and CKEditor).  This is still a work in progress but at the moment, my work is on pause.'></a></li>
          <li><a href='img/portfolio/daydreamer2.jpg' title='It acts much like a ticketing system, where users are allowed to post listings for things they would like to accomplish.  The website is backed by MySQL using PHP to interact with it, as seen on this page.'></a></li>
          <li><a href='img/portfolio/daydreamer4.jpg' title='This is what it looks like to post a listing.  This is the CKEditor plugin referenced previously (A good WYSIWYG editor, would use again!).  The form is validated with jQuery and then posted to a PHP script to insert into the database.'></a></li>
          <li><a href='img/portfolio/daydreamer3.jpg' title='And this is what your listing can look like.  It allows you to reply to the poster and make arrangements to accomplish those things that you daydream about.'></a></li>
        </ul>
      </div>
    </div>
    <div class='link'>
      <a href='http://www.daydreamerusa.com'>www.daydreamerusa.com</a>
    </div>
    <div class='thumbnail' id='ucps'>
      <div id='ucps_gallery' class='pic_list'>
        <ul>
          <li><a href='img/portfolio/ucps1.jpg' class='first' title='This is a website created for a local printer cartridge company who was looking to establish a web presence.'></a></li>
          <li><a href='img/portfolio/ucps2.jpg' title='I chose to base this website off of Wordpress due to the short time frame of the project and the budget.  And as the site is pretty shallow, it made things much quicker!'></a></li>
          <li><a href='img/portfolio/ucps3.jpg' title='The contact form directly emails the owner of the business allowing him to interact with potential customers online, something he has not been able to do before.'></a></li>
        </ul>
      </div>
    </div>
    <div class='link'>
      <a href='http://www.upstatecartridgeprinterssupply.com'>www.upstatecartridgeprinterssupply.com</a>
    </div>
    <br>
    <!-- Start Second Row -->
        <div class='thumbnail' id='metube'>
      <div id='metube_gallery' class='pic_list'>
        <ul>
          <li><a href='img/portfolio/metube1.jpg' class='first' title='This project is from my database course at Clemson and my first experience with web design and development.  The project description was to create a clone of YouTube called MeTube.  The group I was working with had three total members; my assigned role was lead designer and developer.'></a></li>
          <li><a href='img/portfolio/metube2.jpg' title='This site also has a MySQL back end using PHP to interact with it.  There is a tiny amount of jQuery in this website, but not too much (and it is also terribly slow!).  This is an example of viewing media, in this instance, a picture.  Users are allowed to comment, rate, subscribe, add to favorites, and other things here.  (This picture is actually a screenshot of a 3d model viewer I wrote that same semester.  Written in C++ with OpenGL for the curious)'></a></li>
          <li><a href='img/portfolio/metube3.jpg' title='This is a view of a users channel.  It certainly is not as nicely designed as YouTube, however the core functionality is there.'></a></li>
          <li><a href='img/portfolio/metube4.jpg' title='This is the messaging screen.  This is where my team ran into a bit of trouble; what happens if UserA deletes a message that he sent to UserB from his outbox? Will UserB still be able to see it?  We did create a solution however it is likely not the most elegant one.'></a></li>
        </ul>
      </div>
    </div>
    <div class='link'>
      <a href='http://phoenix.cs.clemson.edu/2011Spring/u4/'>phoenix.cs.clemson.edu/2011Spring/u4/</a>
    </div>
  </body>
</html>

