<header>
  <nav>
    <ul>
      <li class='about'>
        <%= link_to "About", root_path %>
      </li>
      <li class='blog'>
        <%= link_to "Blog", blog_path %>
      </li>
      <li class='portfolio'>
        <%= link_to "Portfolio", portfolio_path %>
      </li>
      <li class='contact'>
        <%= link_to "Contact", contact_path %>
      </li>
    </ul>
  </nav>
</header>

