<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h5>If you have any questions about anything you've seen on this site, comments or suggestions for improvements, or would perhaps like to talk business, feel free to contact me anytime!</h5>
    <h5>You can reach me by email at bryan@bryan-taylor.com or you can find me on some of these websites:</h5>
    <ul id='site_links' class='clearfix'>
      <li class='facebook'>
        <a href='http://www.facebook.com/mcbtay'>Facebook</a>
      </li>
      <li class='googleplus'>
        <a href='https://plus.google.com/105282213606782195117/posts'>Google+</a>
      </li>
      <li class='linkedin'>
        <a href='http://www.linkedin.com/pub/bryan-taylor/26/582/8a'>LinkedIn</a>
      </li>
      <li class='github'>
        <a href='http://www.github.com/MCBTay'>Github</a>
      </li>
    </ul>
  </body>
</html>

